XML/schemas/PRPA_IN101301NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- PRPA_IN101301NL - Person Registry Record Added --><!--Note: this file was generated. DO NOT EDIT HERE.-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified">
   <xs:include schemaLocation="MCCI_MT000100.xsd"/>
   <xs:include schemaLocation="MFMI_MT700701_OPT_OV.xsd"/>
   <xs:include schemaLocation="PRPA_MT101301NL.xsd"/>
   <xs:element name="PRPA_IN101301NL" type="MCCI_MT000100.Message"/>
    <xs:group name="Payload">
        <xs:sequence>
            <xs:element name="identifiedPerson" type="PRPA_MT101301NL.IdentifiedPerson"/>
        </xs:sequence>
    </xs:group>
</xs:schema>