XML/schemas/REPC_IN002120NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- REPC_IN002120NL - Zorgoverdracht -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
    <xs:include schemaLocation="MCCI_MT000100.xsd"/>
    <xs:include schemaLocation="REPC_MT002000NL.xsd"/>
    <!-- includes from REPC_IN002120NL.MCAI_MT700201 -->
    <xs:include schemaLocation="COCT_MT090300.xsd"/>
    <xs:include schemaLocation="COCT_MT090100.xsd"/>
    <!-- End: includes from REPC_IN002120NL.MCAI_MT700201 -->
    <xs:element name="REPC_IN002120NL" type="REPC_IN002120NL.MCCI_MT000100.Message"/>
    <xs:complexType name="REPC_IN002120NL.MCCI_MT000100.Message">
    <xs:sequence>
        <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
        <xs:element name="creationTime" type="TS" minOccurs="1"/>
        <xs:element name="versionCode" type="CS" minOccurs="1"/>
        <xs:element name="interactionId" type="II" minOccurs="1"/>
        <xs:element name="profileId" type="II" minOccurs="1"/>
        <xs:element name="processingCode" type="CS" minOccurs="1"/>
        <xs:element name="processingModeCode" type="CS" minOccurs="1"/>
        <xs:element name="acceptAckCode" type="CS" minOccurs="1"/>
        <xs:element name="attentionLine" type="MCCI_MT000100.AttentionLine" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="receiver" type="MCCI_MT000100.Receiver"/>
        <xs:element name="respondTo" type="MCCI_MT000100.RespondTo" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="sender" type="MCCI_MT000100.Sender"/>
        <xs:element name="ControlActProcess" type="REPC_IN002120NL.MCAI_MT700201.ControlActProcess"/>
        <!-- OZ version -->
        <!-- <xs:element name="controlActProcess" type="MCCI_MT000100.ControlActProcess"/> -->
    </xs:sequence>
    <xs:attribute name="type" type="Classes" default="Message"/>
    <xs:attribute name="templateId" use="optional">
        <xs:simpleType>
        <xs:list itemType="oid"/>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeID" use="optional">
        <xs:simpleType>
        <xs:list itemType="oid"/>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="realmCode" use="optional">
        <xs:simpleType>
        <xs:list itemType="cs"/>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:group name="ControlAct">
        <xs:sequence>
            <xs:element name="ControlActProcess" type="REPC_IN002120NL.MCAI_MT700201.ControlActProcess"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.ControlActProcess">
        <xs:sequence>
            <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="code" type="CD" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="text" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="authorOrPerformer" type="REPC_IN002120NL.MCAI_MT700201.AuthorOrPerformer"/>
            <xs:element name="dataEnterer" type="REPC_IN002120NL.MCAI_MT700201.DataEnterer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="informationRecipient" type="REPC_IN002120NL.MCAI_MT700201.InformationRecipient" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="overseer" type="REPC_IN002120NL.MCAI_MT700201.Overseer"/>
            <xs:element name="reason" type="REPC_IN002120NL.MCAI_MT700201.Reason" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="subject" type="REPC_IN002120NL.MCAI_MT700201.Subject2" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ControlAct"/>
        <xs:attribute name="classCode" type="ActClass" use="optional" default="ACTN"/>
        <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.AuthorOrPerformer">
        <xs:sequence>
            <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="participant" type="REPC_IN002120NL.MCAI_MT700201.ParticipationChoice"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.DataEnterer">
        <xs:sequence>
            <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="COCT_MT090100"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="ENT"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.InformationRecipient">
        <xs:sequence>
            <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="COCT_MT090100"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Overseer">
        <xs:sequence>
            <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="COCT_MT090100"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Reason">
        <xs:sequence>
            <xs:element name="justifyingDetectedIssueEvent" type="REPC_IN002120NL.MCAI_MT700201.DetectedIssueEvent"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="RSON"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.DetectedIssueEvent">
        <xs:sequence>
            <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="code" type="CD" maxOccurs="unbounded"/>
            <xs:element name="text" type="ED" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="value" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="requires" type="REPC_IN002120NL.MCAI_MT700201.Requires" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sourceOf" type="REPC_IN002120NL.MCAI_MT700201.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass" use="optional" default="ALRT"/>
        <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Requires">
        <xs:sequence>
            <xs:element name="actOrderRequired" type="REPC_IN002120NL.MCAI_MT700201.ActOrderRequired"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="TRIG"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.ActOrderRequired">
        <xs:sequence>
            <xs:element name="code" type="CE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="subject" type="REPC_IN002120NL.MCAI_MT700201.Subject" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
        <xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Subject">
        <xs:sequence>
            <xs:element name="participant" type="REPC_IN002120NL.MCAI_MT700201.Role"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Role">
        <xs:sequence>
            <xs:element name="code" type="CE" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass" use="optional" default="ROL"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.SourceOf">
        <xs:sequence>
            <xs:element name="target" type="REPC_IN002120NL.MCAI_MT700201.DetectedIssueManagement"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="MITGT"/>
        <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.DetectedIssueManagement">
        <xs:sequence>
                  <xs:element name="code" type="CD" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="text" type="ED" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
        <xs:attribute name="moodCode" type="x_ActMoodDefEvn" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Subject2">
        <xs:sequence>
            <xs:element name="careProvisionRequest" type="REPC_MT002000NL.CareProvisionRequest"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUBJ"/>
        <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.Act">
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
        <xs:attribute name="moodCode" type="ActMood" use="required"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_IN002120NL.MCAI_MT700201.ParticipationChoice">
        <xs:choice>
            <xs:element name="AssignedDevice" type="COCT_MT090300.AssignedDevice"/>
            <xs:element name="AssignedPerson" type="COCT_MT090100.AssignedPerson"/>
        </xs:choice>
        <xs:attribute name="type" type="Classes" default="Role"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
        <xs:attribute name="stubId" type="oid" use="optional"/>
    </xs:complexType>
</xs:schema>
